/* reseting formatting */
*  {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* this stops the scrollbar from shoving the content over when it is unhidden with js */
html {
  overflow-y: scroll;
}

/* sets the background to black, this wasnt a problem until bootstrap was linked */
body {
  background-color: black !important;
}

/* setting text selection colour */
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}


/* loader */
#loader {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("redbackground2.png");
  background-size: 100vw 100vh;
}
#innerloader, #loaderlogo {
  display: none;
}


/* customising the scrollbar - mostlycustomised is a smarter, cleaner one */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #100b02; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: #db2f02;
}


/*editing the position of the central logo */

#zenlogo {
  position: absolute;
  left: 49.8%;
  top: 46.3%;
  max-height: 1000px;
  min-height: 30px;
  z-index: 1;
  background-color: transparent;
}
#zenlogo img {
  height: 15vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: transparent;
}

/* position of all pencils starting in one place, right in the centre of the logo */
.pencils {
  position: absolute;
  width: 0.6vw;
  background-color: transparent;
  left: 49.2%;
  top: 44.3%;
  z-index: 2;
}

.pencils img {
  transform: translate(-50%, -50%);
  width: 0.6vw;
  background-color: transparent; /* this because other wise it is fucking black */
}

/* animations of pencils...this took a while... pencil1 is to make the div orbit, pencil1img is to make each one spin */
/* just one keyframes are used to spin the pencils and can be applied generally, while for the orbit each needs its own animation */
#pencil1img {
  animation: orbithalf 3.6s linear infinite;
}
#pencil1 {
  animation: orbit1 28s linear infinite;
}
#pencil2img {
  animation: orbithalf 3s linear infinite;
}
#pencil2 {
  animation: orbit2 28s linear infinite;
}
#pencil3img {
  animation: orbithalf 2.9s linear infinite;
}
#pencil3 {
  animation: orbit3 28s linear infinite;
}
#pencil4img {
  animation: orbithalf 3.5s linear infinite;
}
#pencil4 {
  animation: orbit4 28s linear infinite;
}
#pencil5img {
  animation: orbithalf 2.7s linear infinite;
}
#pencil5 {
  animation: orbit5 28s linear infinite;
}

/* really, really useful demo on this on http://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/
* im not gonna explain it all here */
keyframes orbit1 {
    from { -webkit-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg);
    -ms-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg);
    -o-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg);
    -ms-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg);
    -moz-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg);
    -o-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg); }
}
keyframes orbit2 {
    from { -webkit-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg);
    -ms-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg);
    -moz-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg);
    -o-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg); }
    to   { -webkit-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg);
    -ms-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg);
    -moz-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg);
    -o-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg); }
}
keyframes orbit3 {
    from { -webkit-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg);
    -ms-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg);
    -moz-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg);
    -o-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg); }
    to   { -webkit-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg);
    -ms-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg);
    -moz-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg);
    -o-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg); }
}
keyframes orbit4 {
    from { -webkit-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg);
    -ms-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg);
    -o-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg);
    -ms-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg);
    -moz-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg);
    -o-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg); }
}
keyframes orbit5 {
    from { -webkit-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg);
    -ms-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg);
    -o-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg);
    -ms-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg);
    -moz-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg);
    -o-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg); }
}
keyframes orbithalf {
    from { -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg); }
}


/* adding @-webkit- for other browsers */
@-webkit-keyframes orbit1 {
    from { -webkit-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg);
    -ms-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg);
    -o-transform: rotate(0deg) translateX(-2vw) translateY(9vw) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg);
    -ms-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg);
    -moz-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg);
    -o-transform: rotate(360deg) translateX(-2vw) translateY(9vw) rotate(-360deg); }
}
@-webkit-keyframes orbit2 {
    from { -webkit-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg);
    -ms-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg);
    -moz-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg);
    -o-transform: rotate(0deg) translateX(-9vw) translateY(1vw) rotate(240deg); }
    to   { -webkit-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg);
    -ms-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg);
    -moz-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg);
    -o-transform: rotate(360deg) translateX(-9vw) translateY(1vw) rotate(-120deg); }
}
@-webkit-keyframes orbit3 {
    from { -webkit-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg);
    -ms-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg);
    -moz-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg);
    -o-transform: rotate(0deg) translateX(8.3vw) translateY(3vw) rotate(60deg); }
    to   { -webkit-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg);
    -ms-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg);
    -moz-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg);
    -o-transform: rotate(360deg) translateX(8.3vw) translateY(3vw) rotate(-300deg); }
}
@-webkit-keyframes orbit4 {
    from { -webkit-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg);
    -ms-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg);
    -o-transform: rotate(0deg) translateX(6vw) translateY(-7.5vw) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg);
    -ms-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg);
    -moz-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg);
    -o-transform: rotate(360deg) translateX(6vw) translateY(-7.5vw) rotate(-360deg); }
}
@-webkit-keyframes orbit5 {
    from { -webkit-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg);
    -ms-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg);
    -o-transform: rotate(0deg) translateX(-5vw) translateY(-9vw) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg);
    -ms-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg);
    -moz-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg);
    -o-transform: rotate(360deg) translateX(-5vw) translateY(-9vw) rotate(-360deg); }
}
@-webkit-keyframes orbithalf {
    from { -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg); }
}


/* logo */
#loaderlogo {
  position: absolute;
  margin: auto;
  left: 50%;
  background-color: transparent;
}

#loaderlogo img {
  width: 30vw;
  -webkit-transform: translate(-50%, 77vh);
  -ms-transform: translate(-50%, 77vh);
  -moz-transform: translate(-50%, 77vh);
  -o-transform: translate(-50%, 77vh);
  background-color: transparent;
}





/* styling the maint title */
@font-face {
    font-family: "newone";
    src: url("cfont.ttf") format('truetype');
}

h1, h2 {
    font-family: "CreativeBlock BB", "newone", Tahoma;
    color: blue;
    text-align: center;
    padding: 1em;
}

#mainTitle {
  margin: 20% auto;
}



/* styling the link to Gav and his website */
a:link {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
  color: red;
}

a:visited {
  text-decoration: none;
  color: red;
}


/* setting the pencils */
.pencils {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform-origin: 50% 50%;
}

#main {
  text-align: center;
}
.mainComic{

}
.img-thumbnail {
  border: 0px !important;
  background-color: transparent !important;
  padding-bottom: 10vh;
}

#c12-1, #c12-2, #c12-3, #c13-1, #c13-2 {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  padding-bottom: 0 !important;
}

#c4-1, #c4-2, #c5-1, #c5-2 {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}


#c14img {
  padding-top: 5vh;
}


#endText {
  display: block;
  width: 100%;
  font-size: 0.6em;
  margin-bottom: 5%;
}
