/* For resetting styles in the page*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: calibri;
}


/* scroll bar formatting */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: purple; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: green;
}


/* loading page*/


#loader {
  position: absolute;
  z-index: 100;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 2em;
  background-color: #313131;
}



/* Main html and body*/

html {
  background-color: #313131;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


body {
  width: 100%;
  height: 100%;
   background-color: #000000;
   font-family: "Open sans";
   font-size: 1em;
   padding: 0;
   margin: 0 auto;
   color: #00000099;
}


/* the particle..part */

#particles {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(45deg,  transparent 0%, transparent 57%, #23646733 100%),
  linear-gradient(-45deg, #2c478033 0%,  #2c478033 0.3%, #23646733 112%,  transparent 11% ),
  linear-gradient(-90deg, #2c478033 100%, #2c478033 65%, transparent 20% ),
  radial-gradient(ellipse at center, #ffffff66 0%, #64646b80 55%, #000000dd 100%);

}


/* menu icon */

.menuIcon{
  width: 30px;
  height: 30px;
  margin: auto;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  visibility: initial;
  left: 0;
  right: 0;
  z-index: 2;
}


.menuIcon span{
  background-color:#FFfffF;
  position: absolute;
  border-radius: 0.7px;
  transition: .45s cubic-bezier(0.77, 0, 0.175, 1);
  width:100%;
  height: 3px;
}


.menuIcon span:not(:hover){
  background-color:#fffffdd;
}
.menuIcon span:nth-child(1){
  top: 0vw;
}
.menuIcon span:nth-child(2){
  top: 15px;
}
.menuIcon span:nth-child(3){
  top: 30px;
}
.menuIcon:not(.clickMenuIcon):hover span {
  background-color: #007991;
}

.clickMenuIcon span:nth-child(1){
  transform: translateX(0) translateY(15px) rotate(45deg) ;
}
.clickMenuIcon span:nth-child(2){
  transform: scaleX(0);
  color: rgba(255, 0, 0, 0);
}
.clickMenuIcon span:nth-child(3){
  transform: translateX(0) translateY(-15px) rotate(-45deg);
}

.clickMenuIcon:hover span {
  background-color: #007991;
}

/* rest of the menu animation, titles */

#menuBar {
   height: 60px;
   width: 100%;
   position: fixed;
   background-color: #0d0d0d00;
   justify-content: center;
   z-index: 10;
}


#menuBar2 {
  height: 100%;
  margin: auto;
  background-color: #0d0d0daa;
  position: relative;
  width: 200px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-top: 20px;
  padding-bottom: 10px;

}



.items {
   color: #e1e1e1;
   position: absolute;
   left: 37%;
   transform: translateX(-37%);
   display: inline-block;
   visibility: hidden;
   opacity: 0;
   font-size: 1.2em;
   z-index: 1;
   transition: .45s cubic-bezier(0.77, 0, 0.175, 1);
}


.items:hover{
  color: #007991;
  transition: .2s cubic-bezier(0.77, 0, 0.175, 1);
}


.first {
   transform: translate(-7em, 0);
   visibility: initial;
   opacity: 1;
}

.second {
   transform: translate(-3.5em, 0);
   visibility: initial;
   opacity: 1;
}

.third {
   transform: translate(3.5em, 0);
   visibility: initial;
   opacity: 1;
}

.fourth {
   transform: translate(8.5em, 0);
   visibility: initial;
   opacity: 1;
}



/* Main body*/

#mainText {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  left: 35%;
  top: 45%;
}

/*typewriter text */
.typewritertext {
  font-size: 3vw;
}
#fptextsub {
  font-size: 1.4vw;
}

.typewritertext, #fptextsub {
  font-weight: 400;
  color: #000000dd;
  clear: both;
}

/* rotating the sub text into frame */
#subtext {
  transform-origin: 0px 0px;
  transform: rotateX(-90deg);
  visibility: hidden;
  background-color: #000000dd;
}
#fptextsub{
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  padding: 1vw;
}
#subtextholder {
  perspective: 400px; /* to give the 3d flipping effect */
}
.subtextanimation {
  animation: flipintext 1s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}
@keyframes flipintext {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    visibility: initial;
  }
}
