/* For resetting styles in the page*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'PT Sans', 'Open Sans' !important;
  cursor: url(Images/cursor1.png), default;
}
::-moz-selection { /* Code for Firefox */
    background: rgb(62, 62, 62);
}

::selection {
    background: rgb(62, 62, 62);
}


/* scroll bar formatting */
::-webkit-scrollbar {
  width: 7px;
  background-color: black; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
  background: rgb(0, 121, 145);
}


/* loading page*/
#loader {
  position: fixed;
  z-index: 1000;
  text-align: center;
  width: 100vw;
  height: 100%;
  background-color: rgb(4, 4, 4);
  overflow: hidden;
}
#loadinganimation {
  position: relative;
  width: 100%;
  height: 100%;
}

.scale-out-center { /* scaling the sholw loading animation out */
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	        animation: scale-out-center 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
          opacity: 0;
}
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
}
#loader div #loadingcircle { /* just the circle animation */
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45%;
  transform: translateY(-50%);
  height: 0;
  width: 0;
  border: 0 solid rgb(24, 93, 107);
  border-radius: 50%;
  animation: loadingcircle 1.2s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes loadingcircle {
  0% {
    height: 0;
    width: 0;
    background-color: rgb(48, 48, 48);
  }
  29% {
    background-color: rgb(48, 48, 48);
  }
  30% {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-width: 25px;
    opacity: 1;
  }
  100% {
    height: 50px;
    width: 50px;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
#loader p { /* editing the text and making sure it fades like the circle */
  font-size: 1.4em;
  color: rgb(0, 121, 145);
  text-transform: uppercase;
  letter-spacing: 1.1rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 52%;
  transform: translateX(0.4%);
  animation: loadingp 1.2s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes loadingp {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}





/* fading items on scroll */
.portfoliohideuntilscroll, .contacthideuntilscroll, .page1hideuntilscroll {
  opacity: 0;
}







/* Main html and body*/

html {
  background-color: rgba(49, 49, 49, 1) !important;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: url(Images/cursor1.png), default;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0) !important;
  font-family: "Open sans";
  font-size: 1em;
  padding: 0;
  margin: 0 auto;
  color: #00000099;
}


/* the particle..part...colouring and sizing it*/

#particles {
  position: fixed !important;
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* new background idea
  background: linear-gradient(45deg,  #00000014 0%, transparent 57%, #236467a3 100%),
  linear-gradient(-45deg, #2c478078 0%,  #2c4780c2 0.3%, #236467d1 112%,  #00000029 11% ),
  linear-gradient(-90deg, #2c47808a 100%, #2c4780a6 65%, #00000008 20% ),
  radial-gradient(ellipse at center, #ffffffc9 0%, #64646ba8 55%, #000000 100%)
   */
  background: linear-gradient(45deg,  transparent 0%, transparent 57%, rgba(35, 100, 103, 0.53) 100%),
  linear-gradient(-45deg, rgba(44, 71, 128, 0.53) 0%,  rgba(44,71,128,0.53) 0.3%, rgba(35,100,103,0.53) 112%,  transparent 11% ),
  linear-gradient(-90deg, rgba(44,71,128,0.53) 100%, rgba(44,71,128,0.53) 65%, transparent 20% ),
  radial-gradient(ellipse at center, rgba(255,255,255,0.87) 0%, rgba(100,100,107,0.73) 55%, rgba(0,0,0,0.87) 100%);
}

#textsection {
  position: relative;
  height: 100vh;
  background-color: transparent;
  position: relative;
  text-align: center;
}

#textsection2 {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 35vh auto 0 auto;
  overflow: hidden;
  max-height: 380px;
  max-width: 430px;
  min-width: 320px;
}
@media only screen and (max-width: 535px) {
  #textsection2 {
    margin: 25vh auto 0 auto;
  }
}



.movingmynameclass { /* for moving this section up to centre, after my name pops up there */
	-webkit-animation: movingmynameclass 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	        animation: movingmynameclass 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes movingmynameclass {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: ;
  }
  100% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
            opacity: 1;
  }
}


/* editing the menu
#menucontainer {
  height: 65px;
  width: 65px;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  background-color: #000000aa;
  z-index: 80;
  justify-content: center;
  line-height: 65px;
}

#menuicon {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 81;
  margin: auto;
  margin-top: 22.5px;
}
.menuiconspans {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}
#menuicon:hover span {
  background-color: #007991;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#iconspan1 {
}
#iconspan2{
  top: 50%;
  transform: translateY(-50%);
}
#iconspan3{
  bottom: 0;
} */
/* transofmring the menu
.clickMenuSpan {
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.clickMenuSpan span:nth-child(1){
  transform: translateY(290%) rotate(-45deg);
}
.clickMenuSpan span:nth-child(2){
  opacity: 0;
}
.clickMenuSpan span:nth-child(3){
  transform: translateY(-290%) rotate(45deg);
}
.rotateMenu {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: rotate(90deg);
} */





/* Main body text, editing the name and title*/

#maintext1 {
  position: absolute;
  display: inline-block;
  margin: auto;
  left: 0;
  right: 0;
  top: 27%;
  opacity: 0;
}
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: ;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 1;
  }
}




#maintext2 {
  position: absolute;
  display: inline-block;
  margin: auto;
  left: 0;
  right: 0;
  top: 47%;
  opacity: 0;
}
#maintext2 h1 {
  color: rgba(225,225,225,0.67);
  font-size: 1.8rem;
  margin: 0;
  padding-bottom: 0.3rem;
  font-family: Raleway !important;
}
@media only screen and (max-width: 600px) {
  #maintext2 h1 {
    font-size: 100% !important;
  }
}

pre { /* editing my name, its in the PRE tag otherwise the multiple spaces don't show */
  border: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 3rem !important;
  font-weight: 800 !important;
  color: rgba(18,31,41) !important;
  letter-spacing: 0.6rem;
}
@media only screen and (max-width: 600px) {
  pre {
    border: 0 !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 70% !important;
    font-weight: 800 !important;
    color: rgba(18,31,41) !important;
    letter-spacing: 0.5rem;
  }
}
.namehover:not(:hover) {
  color: inherit;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.namehover:hover {
  color: rgba(255,255,255,0.67);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}


#starticons {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  justify-content: center;
  padding-top: 2%;
  flex-wrap: wrap;
}
#starticons td {
  min-width: 130px;
  text-align: center;
}
#starticons table tr {
  margin: auto;
  vertical-align: center;
}
/* making sure the images behave in the right way across mobile and desktop */
@media only screen and (min-width: 600px) {
  #starticons img:hover {
    border: 1.5px rgba(1,33,44,0.73) solid;
    border-radius: 23%;
    background-color: rgba(255,255,255,0.53);
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #starticons img:hover + .starticonstext { /*animating the text to appear on this hover */
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  #starticons img:hover { /* otherwise it loses its backgroundand border */
    border: 1.5px rgba(1,33,44,0.73) solid;
    border-radius: 23%;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
#starticons img:not(:hover) {
  border: 1.5px rgba(1,33,44,0.73) solid;
  border-radius: 23%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.starticonstext {
  color: rgba(1,33,44,1);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 10%;
  opacity: 0;
  transition: all 0.4s;
  white-space: nowrap;
}

#starticons img {
  padding: 2.5px 2.5px 2.5px 2.8px;
}
/* making sure this whole section scales ok */
@media only screen and (max-width: 600px) {
  #starticons table tr td {
    display: block;
    text-align: left !important;
    margin-bottom: 5%;
  }
  #starticons table tr {
    align-content: left;
    transform: translateX(15%);
  }
  .starticonstext {
    /* float: right; */
    display: inline !important;
    text-align: left;
    font-size: 1rem;
    padding-top: 0;
  }
  #starticons img {
    height: 37px;
  }
}
#starticon1, #starticon2, #starticon3 {
  opacity: 0;
}
/* animations for the icons */
.slide-in-fwd-center {
  animation: slide-in-fwd-center .8s cubic-bezier(.645,.045,.355,1.000) both
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


#page1dividersecondhalf {
  height: 85px;
}
#page1dividersecondhalf svg {
  background-color: transparent;
  height: 85px;
}





/* page 1 editing */
#page1 {
  position: relative;
  z-index: 3;
  background-color: rgba(220, 221, 224, 0.67);
  width: 100%;
  overflow: hidden;
}
#page1text {
  color: rgba(0,0,0,0.733);
  box-sizing: border-box;
  padding: 6%;
  margin-bottom: 5%;
}
#page1textseg1 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  align-items: center;
  justify-content: space-evenly center;
  max-width: 1400px;
}
@media only screen and (max-width: 900px;) {
  #page1textseg1 {
    flex-direction: column;
  }
}
#page1textseg1 img:nth-of-type(1) {
  height: 150px;
  margin-right: 10%;
}
#page1text .page1headers {
  font-size: 1.6rem;
  letter-spacing: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4%;
  margin-top: 1%;
  line-height: 2.5rem;
}

#page1textseg1 {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 535px) {
  #page1textseg1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #page1text h3 {
    text-align: center;
    margin-bottom: 3rem !important;
  }
  #page1textseg1 img {
    margin-bottom: 10%;
    margin-right: 0 !important;
  }
}

#page1text table {
  width: 100%;
  max-width: 400px;
  margin-top: 5%;
}
#page1text table img {
  width: 4rem;
  padding-right: 1rem;
}
#page1text table td {
  width: 50px;
  width: 0%;
  padding-bottom: 1rem;
}
#page1text table p {
  display: inline-block;
}
#listofskills, #listoffutureskills {
  width: 50%;
  text-align: left;
  margin-top: 8%;
  float: left;
}
.projectsworkingon {
  display: flex;
  align-items: center;
  text-align: left;
}
@media only screen and (max-width: 535px) {
  #listofskills, #listoffutureskills {
    width: 100%;
    text-align: left;
    margin: 8% auto;
    float: none;
  }
  #page1text table {
    margin: 8% auto;
  }
  .projectsworkingon {
    text-align: center;
  }
}

.projectlogos {
  display: inline-block;
  height: 3.5rem;
  margin-right: 1rem;
}




/* line between pagee 1 and 2 */
#page2dividers {
  z-index: 10;
  position: relative;
  width: 100%;
}

#page2dividers svg {
  height: 85px;
}


#page2dividerfirsthalf, #page2dividersecondhalf  {
  background-color: transparent;
  width: 100%;
  position: absolute;
}






/* page 2 */
#page2 {
  position: relative;
  z-index: 3;
  background-color: rgba(0, 79, 121, 0.71);
  width: 100%;
  overflow: hidden;
  padding-top: 10%;
  margin-top: 85px;
  padding-bottom: 10%;
}
#page2 h1:nth-of-type(1) { /* editing header */
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.67);
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}


.portfoliopieces { /* each portfolio peice */
  width: 90%;
  margin: auto;
  padding: 4%;
  background-color: ; /* this didnt look so good */
  box-shadow: ;
  border-radius: 20px;
  max-width: 1300px;
}
@media only screen and (min-width: 1430px) {
  .portfoliopieces {
    padding-bottom: 5%;
  }
}


.clientpreviewsections { /* styling each website preview boxes */
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 266px; /* make sure ratio is height/width = 2/3 */
  width: 400px;
  padding: 0;
  margin: 0 5% 5% 0;
  float: left;
  box-shadow: 7px 7px 2px 0 rgba(27, 27, 27,0.7);
}
@media only screen and (max-width: 1000px) {
  .clientpreviewsections {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    height: 266px; /* make sure ratio is height/width = 2/3 */
    width: 400px;
    padding: 0;
    margin-bottom: 5%;
    margin-top: 5%;
    float: none;
  }
}
@media only screen and (max-width: 535px) { /* the last media, just for tiny mobiles */
  .clientpreviewsections {
    height: 46.6vw; /* make sure ratio is height/width = 2/3 */
    width: 70vw;
  }
}


.previewscreen { /* the part of the preview showing the webpage */
  position: relative;
  width: 100%;
  height: 91%;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 3px solid rgb(220, 221, 224);
  border-top: none !important;
}
.previewscreen::-webkit-scrollbar {
  width: 0.3vw;
  background-color: black; /* or add it to the track */
}
.previewbar { /* styling the preciew to look like a browser tab */
  width: 100%;
  height: 9%;
  background-color: rgb(220, 221, 224);
  padding-left: 3%;
  display: flex;
}
.svgincircle {
  display: inline-block;
	position: relative;
	top: 0;
	left: 0;
  height: 100%;
}
.previewbar span {
  float: left;
  height: 80%;
  margin-right: 0.4%;
  align-self: flex-start;
  padding-top: 1%;
}
.circleicons {
  display: inline-block;
}
@media only screen and (max-width: 535px) {
  .previewbar .circleicons {
    display: none !important;
    padding-top: 0;
  }
}


.clientpreviewsections img { /* styling the long site screenshot */
  width: 100%;
}
.previewbar #previewtab { /* this styles the preview bar search-like feature */
  align-self: center;
  width: 50%;
  height: 50%;
  padding: 0;
  margin-left: 2%;
  scroll
}
.previewbar #previewtab div {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  height: 100%;
}


.portfoliobrief { /* text to the right of each preview box */
  position: relative;
  display: block;
  float: left;
  width: 35vw;
}
@media only screen and (max-width: 1000px) {
  .portfoliobrief {
    display: inline;
    width: auto;
  }
}
@media only screen and (min-width: 1100px) {
  .portfoliobrief {
    position: relative;
    display: block;
    float: left;
  }
}
.portfoliobrief h2 {
  margin-top: 0;
}
@media only screen and (max-width: 1000px) {
  .portfoliobrief h2 {
    text-align: center;
  }
}

.portfoliobrief2 {
  position: relative;
  display: block;
  clear: left;
}
.portfoliobrief2 h3 {
  text-align: center;
}

.portfoliobrief, .portfoliobrief2 {
  line-height: 2.5rem;
  color: rgb(222, 222, 222);
  font-family: "calibri" !important;
  font-size: 1.6rem;
}

.portfoliolink {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: inherit;
  background-color: rgba(8, 7, 7, 0.36);
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 14rem;
  padding: 0.5rem;
  margin: auto;
}
.portfoliolink:hover {
  background-color: rgba(8, 7, 7, 0.5);
}
@media only screen and (max-width: 1000px) {
  .portfoliolink {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* styling the rule under each portfoliopeice */
hr.portofliohr {
  margin: 5% auto;
  width: 80vw;
  border: 0;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(47, 54, 64, 0.67) 39%, rgba(47, 54, 64, 0.67) 62%, rgba(0, 0, 0, 0) 100%);
}





#page3dividerfirsthalf {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 74.4px; /* only becuase a strange line appears when playing with the svgs.... */
  overflow: hidden;
}
#page3dividerfirsthalf svg {
  position: absolute;
}





/* page 3 */
#page3 {
  position: relative;
  background-color: rgba(47, 54, 64, 0.67);
  width: 100%;
  overflow: hidden;
}
#page3header {
  font-size: 3rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5%;
}
#page3text { /* div containering everything in page 3 */
  position: relative;
  width: 100%;
  margin-bottom: 15%;
  margin-top: 15%;
  color: rgba(255,255,255,0.84);
}
@media only screen and (max-width: 535px) {
  #page3text {
    margin-bottom: 30%;
  }
}

#page3links {
  text-align: center;
  font-size: 2rem;
  transition: 0.3 linear;
}
#pagelinks p { /* counteracts bootstrap defaults */
  margin: 0;
}



/* animatin the email link */
a {
  color: rgba(255, 255, 255, 0.74) !important;
  font-weight: lighter !important;
  transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}
a:not(:hover) {
  color: rgba(255, 255, 255, 0.74) !important;
  font-weight: lighter !important;
  transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}
a:focus, a:hover {
  color: rgb(51, 123, 184) !important;
  text-decoration: none !important;
  transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}



@media only screen and (max-width: 535px) {
  #page3links {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #page3table {
    margin-top: 10%;
  }
  #page3header{
    font-size: 2rem;
  }
}



/* table of social links */
#page3table table {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  margin-top: 3%;
}
#page3table table td {
  padding: 0 10px;
}
#page3table table td {
  padding: 0 10px;
}
#page3table table td:not(:hover) svg path {
  fill: rgba(255,255,255, 0.84);
  transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}
#page3table table td:hover svg path {
  fill: rgb(51, 123, 184);
  transition: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
}











#page3endpanel { /*whole panel styling */
  width: 100%;
  height: 18vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 900px) {
  #page3endpanel {
    height: 30vh;
    flex-direction: column-reverse;
  }
}

.endpanelsections { /* for all sections */
  height: 100%;
  width: 50%;
  display: inline-block;
  background-color: rgba(0,0,0,1);
  float: left;
}
@media only screen and (max-width: 900px) {
  .endpanelsections {
    width: 100%;
    height: 100%;
  }
}

/* styling left hand section */
#endpaneltext {
  color: rgba(255,255,255,0.84);
}
#endpaneltext p {
  position: relative;
  font-size: 90%;
  text-align: center;
  top: 47%;
}



/* styling arrow section */
#page3endpanel .arrowsvg {
  display: block;
  margin: auto;
  margin-top: 8.5vh;
}
@media only screen and (max-width: 900px) {
  #page3endpanel .arrowsvg {
    display: block;
    margin: auto;
    margin-top: 6.5vh;
  }
}
#page3endpanel div:nth-of-type(2):not(:hover) #arrowpath {
  stroke: rgba(255,255,255,187);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#page3endpanel div:nth-of-type(2):hover #arrowpath {
  stroke: rgba(255,255,255,187);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#page3endpanel div:nth-of-type(2):not(:hover) {
  background-color: rgba(0,0,0,1);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#page3endpanel div:nth-of-type(2):hover {
  background-color: rgba(0,0,0,0.75);
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
