body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8EAF9D;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.header {
  color: #fff;
  background: rgba(12, 0, 37, 0.8);
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
}

.todos-main {
  height: 100vh;
  background: #282c34;
  color: #e0e0e0;
}
.todo-item-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 15px 10px;
}
.todo-item {
  /* display: inline-block; */
  width: 100%;
  padding: 10px 15px 10px 10px;
  color: rgb(14, 0, 38);
  transition: all 0.3s ease;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 50px 0;
}
@media (min-width: 576px) {
  .todo-item {
    width: 50%;
  }
}
.todo-item input {
  margin: 0 10px 0 0;
  outline: none;
}
.todo-item button {
  display: block;
  margin: 20px;
  background: none;
  border: none;
  outline: none;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.filterbuttons {
  display: inline-block;
  background: rgb(120, 190, 255);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px 0 0;
}
.filterbuttons-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
  box-sizing: border-box;
}

.todo-item button.slide1 {
  background: no-repeat left / 200% 100% linear-gradient(to left, blue 50%, green 50%);
}
.todo-item button.slide1:hover {
  background: no-repeat right / 200% 100% linear-gradient(to left, blue 50%, green 50%);
}

.todo-item button.slide2 {
  background: no-repeat bottom / 100% 200% linear-gradient(to top, blue 50%, green 50%);
}
.todo-item button.slide2:hover {
  background: no-repeat top / 100% 200% linear-gradient(to top, blue 50%, green 50%);
}
